aside {background-color: floralwhite;}

h1 {color:red}

h2 {color:darkviolet}

h3 {color:deeppink}
body {
    background-color: aquamarine;
    margin: 32 px; padding: 24 px;
    line-height: 1.5;
    max-width: 60;
}

p { border: 1 px solid rgb(76, 198, 247);
    color:blue; background-color: rgb(119, 200, 233);
    padding: 24 px; margin: 24px;
}

